RewriteEngine On

RewriteRule ^northern-nevada-city-guides/?$ index.php [L]

RewriteRule ^dayton/?$ dayton/index.php [L]
RewriteRule ^washoe-valley/?$ washoe-valley/index.php [L]
RewriteRule ^incline-village/?$ incline-village/index.php [L]
RewriteRule ^spanish-springs/?$ spanish-springs/index.php [L]
RewriteRule ^verdi/?$ verdi/index.php [L]
RewriteRule ^fernley/?$ fernley/index.php [L]
RewriteRule ^yerington/?$ yerington/index.php [L]
RewriteRule ^smith-valley/?$ smith-valley/index.php [L]
